asgiref==3.7.2
asttokens==2.2.1
backcall==0.2.0
bcrypt==4.0.1
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.2
executing==1.2.0
filelock==3.12.0
fonttools==4.40.0
greenlet==2.0.2
gunicorn==20.1.0
ipython==8.13.2
jedi==0.18.2
kiwisolver==1.4.4
matplotlib @ file:///C:/Users/joana/Documents/CareerFoundry/Python%20for%20Web%20Developers/A2_Bookstore_App/src/matplotlib-3.7.2-cp310-cp310-win_amd64.whl#sha256=23fb1750934e5f0128f9423db27c474aa32534cec21f7b2153262b066a581fd1
matplotlib-inline==0.1.6
mysql-connector-python==8.0.33
mysqlclient==2.1.1
numpy==1.25.1
packaging==23.1
pandas==2.0.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
prompt-toolkit==3.0.38
protobuf==3.20.3
psycopg2-binary==2.9.6
pure-eval==0.2.2
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
SQLAlchemy==2.0.15
sqlparse==0.4.4
stack-data==0.6.2
traitlets==5.9.0
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.23.0
virtualenvwrapper-win==1.2.7
wcwidth==0.2.6
whitenoise==6.5.0
