body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #d98025;
  display: inline-block;
  background: rgba(255, 255, 255, .1);
  padding: 5px 10px;
  border-radius: 10px;
}

h3 {
  font-size: 26px;
}

section {
  padding: 20px;
}

nav .logo {
  font-weight: bold;
  color: #d98025;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 5px 10px;
}

nav ul a {
  text-decoration: none;
  text-transform: uppercase;
}

a {
  color: #357b70;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.container {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px 0px #666;
}

.container input,
.container button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: inherit;
}

.container div {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.grid-item {
  display: block;
  height: 200px;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

.grid-item span {
  display: block;
  background: rgba(255, 255, 255, .8);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-one {
  color: black;
}

section.header {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  box-shadow: 1px 1px 3px 2px #ccc;
}

section.header .title {
  padding: 80px 30px;
}

h1 {
  font-size: 40px;
}

.section.header .pic {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;

}

section.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

section.content div {
  padding: 30px;
}

.instructions {
  white-space: pre-line;
}

table {
  border: 0;
  border-collapse: collapse;
  margin-top: 20px;
}

td,
th {
  border-bottom: 2px solid #ccc;
  max-width: 250px;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th {
  background-color: #eee;
}

table img {
  max-width: fit-content;
  max-height: 100px;
  width: auto;
  height: auto;
}

@media(max-width:600px) {
  section.header {
    display: flex;
    flex-direction: column;
  }

  section.header .title {
    padding: 30px;
    order: 2;
  }

  section.header .pic {
    height: 300px;
    order: 1;
  }

  section.content {
    display: flex;
    flex-direction: column;
  }

  section.content div {
    padding: 10px 30px;
  }

}